### [1] 数値計算

In [4]:
7 // 4
# 商のみを表示

1

In [5]:
2**4
# べき乗の計算

16

In [6]:
3 * 5 + 4*4

31

## [1] 練習問題

In [8]:
a = 7
b = 4

c = a/b
print(c)

1.75

↑小数点になっても割り切れるまで計算することに注意！

In [9]:
a = 'Hello'
a + 'World'
print(a)

Hello

こういう引っ掛け問題に注意

In [10]:
print(0b11)
#２進数

3

In [11]:
print(0o11)
#8進数

9

In [17]:
print(0x11)
#16進数

17

In [13]:
print(bin(17))

0b10001

In [14]:
print(oct(17))

0o21

In [15]:
print(hex(17))

0x11

In [39]:
x= 0b10101000
y= 0b00010101

print(x >> 3)

print(y)

21
21

In [19]:
z = input()
print(z)

HOGE=TeKiTo__
HOGE=TeKiTo__

In [30]:
print(str(0xFFF) + '１６進数から10進数に ')
print(0o777)
print(0b111)

4095１６進数から10進数に
511
7

In [53]:
a = 0xFFF
print(hex(a))
print('進数を表示するには一手間必要である')

0xfff
進数を表示するには一手間必要である

In [56]:
print(a)
a=~a
print(a)

4095
-4096

In [46]:
str = 'HELLO WORLD'
a = str.lower()
a

'hello world'

In [45]:
a.upper()

'HELLO WORLD'

In [47]:
a.split(' ')

['hello', 'world']

[' ',' ',......  ] これがリスト形式

# リスト　　　　　　変更可能
# ['','',.....]
# タプル　　　　　変更不可能
# ('','',)

# 辞書
# { '': ''}
# 集合
# { '','','',''}

In [62]:
list = [2,4,5,61,1,3,9,2,3,11,42,32,13,23]
print(list)
list = sorted(list)
list

[2, 4, 5, 61, 1, 3, 9, 2, 3, 11, 42, 32, 13, 23]

[1, 2, 2, 3, 3, 4, 5, 9, 11, 13, 23, 32, 42, 61]

In [64]:
list = [2,4,5,61,1,3,9,2,3,11,42,32,13,23]
list.sort()
print(list)

[1, 2, 2, 3, 3, 4, 5, 9, 11, 13, 23, 32, 42, 61]

In [65]:
list.append(89)
list

[1, 2, 2, 3, 3, 4, 5, 9, 11, 13, 23, 32, 42, 61, 89]

In [76]:
list.append('NaN')
list

[1, 2, 2, 3, 3, 4, 5, 9, 11, 13, 23, 32, 42, 61, 89, 'NaN', 'NaN', 'NaN']

In [78]:
x ='NaN'

In [77]:
list.count(x)

3

In [79]:
list.remove(x)

In [80]:
list.count(x)

2

In [83]:
list.reverse()
list

['NaN', 'NaN', 89, 61, 42, 32, 23, 13, 11, 9, 5, 4, 3, 3, 2, 2, 1]

In [84]:
'NaN' in list

True

リストにはまだNaNがある．

In [85]:
list.pop()

1

In [86]:
list

['NaN', 'NaN', 89, 61, 42, 32, 23, 13, 11, 9, 5, 4, 3, 3, 2, 2]

In [113]:
a= list.count(x)

#一斉に'NaN'を消す方法
for _ in range(a):
    list.remove(x)

list

[89, 61, 42, 32, 23, 13, 11, 9, 5, 4, 3, 3, 2, 2]

In [111]:
a = 0o16
print(bin(a))

b = 0xFF

print(bin(a ^ b))

0b1110
0b11111111
0b11110001
0b1110
0b1110